NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=finance-portfolio-310cf.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=finance-portfolio-310cf
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=finance-portfolio-310cf.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# 다른 배포 도메인을 사용할 때 기본 운영 도메인을 덮어씁니다.
NEXT_PUBLIC_FIREBASE_APP_DOMAIN=finance-jakeminji.vercel.app
